* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex; // Por padrão os itens do container ficam um ao lado do outro
    // justify-content: space-between; Alinha o primeiro item no começo, o último no final e os outros separados igualmente
    justify-content: space-around;
    align-items: center;
    border: solid green 5px;
    height: 10vh;
    h1 {
        background-color: red;
    }
    nav {
        background-color: aqua;
    }
}// space-around  O espaço vazio antes do primeiro e depois do último item é igual a metade do espaço entre cada par de itens adjacentes.

//space-evenly  Os itens são colocados no eixo principal com espaçamentos equivalentes entre si.

// space-between  O primeiro item fica no começo do eixo e o último no fim, os restantes ficam alinhados entre si no meio. 
    